{% extends "::base.html.twig" %}

{% block title %}AppBundle:Login:login{% endblock %}

{% block body %}
<h1>Zaloguj się</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Zaloguj" />
    {{ form_end(form) }}
{% endblock %}
